@font-face {
  src: url("./assets/Poppins-Regular.ttf");
  font-family: poppins-regular;
}
@font-face {
  src: url("./assets/Montserrat-Regular.ttf");
  font-family: montserrat-regular;
}

.home-main-container {
  height: 100vh;
  background-color: #fff;
  background-image: url("./images/homebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
}
.home-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-left-wrapper {
  text-align: center;
}
.home-text-container {
  margin-top: 40px;
}
.home-title-text {
  font-family: montserrat-regular;
  margin-bottom: 20px;
  font-size: 32px;
}
.home-content-text {
  max-width: 600px;
  margin-bottom: 40px;
  font-family: poppins-regular;
  font-size: 12px;
}
.home-topview-food-container {
  height: 100vh;
  background-color: #999;
  background-image: url("./images/topview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
}
.home-logo-container {
  height: 150px;
}
.logo-home {
  height: 150px;
}
@media screen and (max-width: 960px) {
  .home-logo-container {
    height: 100px;
  }
  .home-title-text {
    font-size: 24px;
  }
  .home-content-text {
    font-size: 10px;
    max-width: 400px;
  }
}
@media screen and (max-width: 700px) {
  .home-logo-container {
    height: 80px;
  }
  .home-title-text {
    font-size: 20px;
  }
  .home-content-text {
    font-size: 8px;
    max-width: 90vw;
  }
  .home-topview-food-container {
    display: none;
  }
}
